.padre {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-image: url("../img/neon.jpeg"); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat;
}

.barraUno {
  /* border: 2px solid red; */
  width: 100%;
  /* margin: 1%; */
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.containertarjetas {
  /* border: 10px solid green !important; */
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cambiado de nowrap a wrap */
  justify-content: space-between;
  background-image: url("../img/neon.jpeg"); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat;
  height: 100%;
}

.tarjetas {
  border: 2px solid rgb(0, 0, 0);
  color: black;
  border-radius: 0.5rem;
  width: 12em;
  margin-bottom: 4.5%;
  background-color: rgba(255, 255, 255, 0.27);
  cursor: pointer;
  background-image: url("../img/neon.jpeg"); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat;
  margin: 1.6%;
  border: 2px solid black;
  box-shadow: 0 0 0 0 magenta;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 magenta;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 255, 0);
  }
}

.imagen {
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat;
  width: 10rem !important;
  height: 15rem !important;
  /* border: 2px solid magenta; */
}

.footer {
  /* border: 10px solid red; */
  background-color: gray;
  width: 100%;
  height: 100%;
  /* height: 40%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boton {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.889);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  height: 3rem;
  padding: 0.5rem;
  border: 2px solid gray;
  margin-left: 1rem;
}

.botonDos {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.889);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  height: 3rem;
  padding: 0.5rem;
  border: 2px solid gray;
  margin-right: 1rem;
}

.botonSearch {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.889);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  height: 3rem;
  border: 2px solid gray;
}

.barraBusqueda {
  height: 2.6rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.889);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin-right: 0.2rem;
}

.texto {
  color: black; /* Color de las letras */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /* Borde blanco alrededor de las letras */
}
